.git/
.github/
.idea/
.misc/
vagrant/.vagrant/
.venv/
helm/

.dockerignore
.env
.gitignore
.pre-commit-config.yaml
vagrant/bootstrap.sh
Dockerfile
README.md
results.json
vagrant/Vagrantfile

app/token.json
